.title {
	font-family: 'Lato'; sans-serif;
	font-size: 3em;
	text-align: center;
	color: #f1f1f1;
}

sup {
	font-size: .6em;
}

h2 {
	font-family: Didot;
	font-size: 3em;
	line-height: 1em;
	color: #222;
	margin-bottom: .5em;
	margin-top: .5em;
	font-weight: normal;
}

p {
	font-family: Didot; serif;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #222;
	margin-bottom: 1em;
	
}

.footer {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
	color: #222;
	margin-bottom: 1em;
}

.nav {
	font-family: Didot; serif;
	font-size: 1.5em;
	line-height: 2;
}

a {
	text-decoration: none;
	color: #991c1f;
}


.details {
	text-align: left;
	font-family: Didot;
}

.details2 {
	text-align: left;
	font-family: Didot;
	font-size: 1.5em;
}

h3 {
	font-size: 1.5em;
}